fastapi
pydantic[email]
python-multipart
uvicorn[standard]
aiocache
certifi
bcrypt
Authlib
apscheduler
python-dotenv
# NB: elasticsearch 8.x is compatible with Elasticsearch 8.x and 9.x servers
# while elasticsearch 9.x is only compatible with Elasticsearch 9.x servers.
elasticsearch[async]~=8.17.0
sqlalchemy[asyncio]~=2.0.36
asyncpg
alembic~=1.14.0
fastmcp

