/* Change primary color to match the product's one */
:root {
  --md-primary-fg-color: #1065ce;
}

/* Make font-size a bit smaller than the original 0.8rem */
.md-typeset {
  font-size: 0.7rem;
}

/*
 * Avoid environment variable names to be broken into two lines in the Configuration page.
 * Same thing for table header titles.
 */
th,
td code {
  white-space: nowrap;
}

/*
 * This is ugly hack to avoid displaying both the logo (that includes "Auditize")
 * and the topic (which is also "Auditize") when the screen reach a given breakpoint
 */
@media screen and (min-width: 76.234375em) {
  .md-header__topic {
    display: none;
  }
}

/*
 * Intro styling
 */

.adz-intro {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 1rem;
  padding-top: 4rem;
}

.adz-intro-text {
  flex-shrink: 1;
}

.adz-intro-text h2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 1rem;
}

.adz-intro-image {
  flex-shrink: 0;
}

.adz-intro-image img {
  box-shadow: var(--md-shadow-z2);
}

.adz-intro-image a img {
  transition: transform 0.15s ease-in-out;

  &:hover {
    transform: scale(1.02);
  }
}

.adz-intros > .adz-intro:nth-child(even) {
  .adz-intro-image {
    order: 1;
  }

  .adz-intro-text {
    order: 2;
  }
}
