# Base URL used in emails
AUDITIZE_BASE_URL=

# Secret used to sign JWT tokens
AUDITIZE_JWT_SIGNING_KEY=  # secret to be generated with `openssl rand -hex 32` (a 64 long hexadecimal string)

# MongoDB (optional)
AUDITIZE_MONGODB_URI=mongodb://localhost:27017/  # default to localhost without authentication

# Variables for SMTP (optional)
AUDITIZE_SMTP_SERVER=smtp.example.net
AUDITIZE_SMTP_PORT=587
AUDITIZE_SMTP_USERNAME="john.doe@example.net"
AUDITIZE_SMTP_PASSWORD="password"
AUDITIZE_SMTP_SENDER="noreply@example.net"  # default to $AUDITIZE_SMTP_USERNAME

# Variables for CORS (optional)
AUDITIZE_CORS_ALLOW_ORIGINS=https://example.net
AUDITIZE_CORS_ALLOW_CREDENTIALS="true"
AUDITIZE_CORS_ALLOW_METHODS="*"
AUDITIZE_CORS_ALLOW_HEADERS="*"

# User session lifetime (optional)
AUDITIZE_USER_SESSION_TOKEN_LIFETIME=43200  # default to 12 hours

# Access token lifetime (optional)
AUDITIZE_ACCESS_TOKEN_LIFETIME=3600  # default to 1 hour

# Attachment size limit (optional)
AUDITIZE_ATTACHMENT_MAX_SIZE=5242880  # default to 5MB
