.link {
  font-weight: 500;
  color: var(--mantine-color-gray-7);
  text-decoration: none;
  padding: rem(8px) rem(12px);
}

.active {
  color: var(--mantine-color-indigo-7);
  text-decoration: underline;
}
