.link {
  font-size: var(--mantine-font-size-lg);
  font-weight: 550;
  color: var(--mantine-color-gray-8);
  text-decoration: none;
  padding: rem(8px) rem(8px);
  height: 100%;
}

.active {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
}
