# See https://docs.github.com/en/actions/use-cases-and-examples/building-and-testing/building-and-testing-python#running-tests-with-tox

name: Python backend tests

on:
  push:
    # do not run workflow on pushed tags
    branches:
      - "**"

jobs:
  build:
    runs-on: ubuntu-24.04
    defaults:
      run:
        working-directory: ./backend
    strategy:
      matrix:
        python: ["3.12", "3.13"]
        include:
          - python: "3.12"
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
      - name: Configure sysctl limits for Elasticsearch
        run: |
          sudo swapoff -a
          sudo sysctl -w vm.swappiness=1
          sudo sysctl -w fs.file-max=262144
          sudo sysctl -w vm.max_map_count=262144
      - name: Runs Elasticsearch
        uses: elastic/elastic-github-actions/elasticsearch@master
        with:
          stack-version: 8.16.2
      - run: pip install uv
      - name: Run tests
        env:
          PG_USER: "postgres"
          PG_PASSWORD: "postgres"
          ES_PASSWORD: "changeme"
        run: uv run pytest
