name: doc

on:
  push:
    branches:
      - master

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: doc
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.12
      - env:
          UV_PROJECT: "../backend"
        run: |
          pip install uv
          uv sync --group doc
          uv run python -m auditize openapi > docs/openapi.json
          uv run mkdocs gh-deploy --force
